* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Stijl algemeen */
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    display: inline-block;
    vertical-align: middle;
}

body {
    background-image: url(https://static.vecteezy.com/ti/gratis-vector/p3/2398936-een-set-van-leuke-cartoon-vruchten-ananas-peer-sinaasappel-en-aardbei-op-een-witte-achtergrond-afbeelding-in-platte-stijl-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Optioneel: aanpassen aan je behoeften */
    background-attachment: fixed;
}


/* Stijl voor de Reset Button */
.restButton {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 60px;
    justify-content: center;
    align-items: center;
    color: darkgrey;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}



/* Stijl voor de form */
form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 20px;
    background-color: floralwhite;
    border: 1px none #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Stijl voor de labeltekst */
label h3 {
    font-size: 18px;
    margin-bottom: 8px;
}




/* Stijl voor de "Ik ga akkoord" tekst en checkbox */
#form-terms-of-agreement {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}



/* Stijl voor de verzendknop */
button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC300;
    color: #fff;
    width: 200px;
    border: none;
    border-radius: 3px;
    margin: 20px;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
    background-color: #FFD700; /* Verander de achtergrondkleur bij hover */
    color: #000; /* Verander de tekstkleur bij hover */
    transform: scale(1.05); /* Voeg een schaalvergrotingseffect toe bij hover */
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4); /* Verander de schaduw bij hover */
}



